RewriteEngine On
RewriteBase /

# World Wide Web
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Shortlinks
RewriteRule ^zap(/.*)?$ $1 [R=301,L]
RewriteRule ^(discord|dc|refund-my-fucking-nitro-you-fucks)/?$ https://discord.gg/kKpeKrzWbr [R=301,L]
RewriteRule ^(github|repository|r|repo|gh)/?$ https://github.com/TheSkymuTeam/Skymu [R=301,L]
# RewriteRule ^(kofi|donate|k|kf|dn|chest)/?$ https://ko-fi.com/skymu [R=302,L]
RewriteRule ^(kofi|donate|k|kf|dn|chest)/?$ /wiki/donations [R=302,L]
RewriteRule ^(d|dl|download|get|g)/?$ https://github.com/TheSkymuTeam/Skymu/releases/latest/download/Skymu.Installer.exe [R=301,L]
RewriteRule ^(n|nightly|based)/?$ https://nightly.link/TheSkymuTeam/Skymu/workflows/ci-build/master/beta-build.zip [R=301,L]
RewriteRule ^(c|contact|email|talk|e|t)/?$ mailto:contact@skymu.app [R=301,L]
RewriteRule ^(directory|userlist|users)/?$ https://skymu.kier.ovh/users [R=301,L]
RewriteRule ^(skyaeris)/?$ https://archive.org/details/skyaeris [R=301,L]
RewriteRule ^(omega)/?$ https://omegaaol.github.io [R=301,L]

# Legal
RewriteRule ^legal/AGPLv3/?$ /legal/license [R=301,L]
RewriteRule ^legal/licenses/[^/]+\.txt/?$ /legal/license [R=301,L]
RewriteRule ^legal/license\.txt/?$ /legal/license [R=301,L]
RewriteRule ^legal/exceptions/?$ /legal/license [R=301,L]
RewriteRule ^legal/exceptions/[^/]+\.txt/?$ /legal/license [R=301,L]
RewriteRule ^legal/license/?$ /wiki/license [L]
RewriteRule ^legal/privacy/?$ /wiki/privacy [L]

# Skype endpoints
RewriteRule ^ecs/config/v1/[^/]+/[^/]+$ /ecs/8.200.0.1147.json [L]

# Misc. previous URLs
RewriteRule ^skypehome/.*$ /home [R=301,L]
RewriteRule ^rewrite/?$ [R=301,L]

# HTTP error redirects
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 410 /error.php
ErrorDocument 429 /error.php
ErrorDocument 500 /error.php
ErrorDocument 501 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php

RewriteRule ^test500$ - [R=501,L]