<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
   <head>
      <base href="/">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="description" content="A messaging client styled after classic versions of Skype while also supporting multiple different protocols and platforms using modern technologies.">
      <meta name="keywords" content="pidgin, skymu, skype, skype revival, skype 2026, classic skype, discord client, skype databases, main.db, miranda ng">
      <meta name="robots" content="noodp">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel="icon" type="image/png" href="images/favicon.png">
      <title>Skymu</title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/wiki.css">
   </head>
   <body>
      <!-- top navigation -->
      <div id="topnav">
         <a href="/" id="logo">
         <img src="images/logo.png" alt="Skymu">
         </a>
         <div id="topnav-inner">
            <ul>
               <li><a href="wiki/features">Features</a></li>
               <li><a href="wiki/about">About</a></li>
               <li><a href="wiki">Wiki</a></li>
               <li><a href="repository">GitHub</a></li>
               <li><a href="discord">Discord</a></li>
               <li><a href="contact">Contact us</a></li>
            </ul>
         </div>
      </div>
	  <!-- template area -->
      <main>
          {% block content %}{% endblock %}
      </main>
      <!-- footer -->
      <div id="footer">
         <strong>Skymu.app</strong>
         <div id="footer-badges">
            <a href="https://validator.w3.org/check?uri=referer"><img
               src="images/badges/valid-html401-blue.png" alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
	        <a href="https://validator.w3.org/check?uri=referer"><img
               src="images/badges/valid-css2-blue.png" alt="Valid CSS Level 2" height="31" width="88"></a>
         </div>
      </div>
      <div>
         <div id="copyright">
            &copy; 2025-2026, The Skymu Team. The Skymu name and associated Skymu logos are the intellectual property of The Skymu Team.<br>
            Use of this website constitutes acceptance of the <a href="legal/privacy">Privacy Policy</a>.<br>
            Skymu is not a product of, affiliated with, or endorsed by Microsoft Corporation.
         </div>
      </div>
   </body>
</html>
