{% extends "base.html.twig" %}

{% block title %}
{{ page }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="/css/page.css">
<div id="page-content" class="page-container">
{{ content|raw }}
</div>

{% endblock %}